body {
    background-image: url("/images/green.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@font-face {
    font-family: 'merienda';
    src: url('/fonts/Merienda-Bold.woff') format('woff'),

        url('/fonts/Merienda-Bold.ttf') format('truetype');

}

h1,
h2 {
    font-family: merienda, 'Courier New', Courier, monospace;
}

.titre {
    width: -moz-fit-content;
    width: fit-content;
}

h1 {
    font-size: calc(1.025rem + 8vw);
    padding: 00px;
    margin: 0px;
    background: linear-gradient(to right, red 0%, orange 20%, green 40%, teal 63%, blue 75%, purple 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: black 0.5px;
    text-align: center;
}

h2 {
    font-size: calc(0.7rem + 1vw);
    text-align: right;
    padding: 0px;
    margin: 0px;
}


#imgProduct {

    border: solid 2px rgb(3, 83, 34);
}

@media (max-width: 576px) {
    .logoImg {
        width: 45%;
        margin: auto;
    }

    .titre {
        margin: auto;
    }



    .score img {
        margin-bottom: 10px;

    }



    .score {
        width: -moz-fit-content;
        width: fit-content;
    }

    #imgNutri {
        display: block;
        width: 30%;
    }

    #imgNova {
        width: 20%;
    }

    #imgEcoscore {
        width: 40%;
    }


}




#btn {

    background-color: #046d12;
    border-radius: 10px;
    border: 4px double #cccccc;
    color: #eeeeee;
    font-size: 17px;
    padding: 3px;
    width: 195px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 3px;
}

#btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#btn span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#btn:hover {
    background-color: #4f7c55;
}

#btn:hover span {
    padding-right: 25px;
}

#btn:hover span:after {
    opacity: 1;
    right: 0;
}

#rechercher {
    height: 40px;
    border-radius: 10px;
    border: 4px double #046d12;
    font-size: 20px;
    padding: 3px;
    width: 195px;
}

@media (max-width: 576px) {
    #rechercher {
        font-weight: bold;
        min-width: 175px;
    }

    #btn {
        block-size: 60px;
        font-size: 1.3em;
    }

    h2 {
        font-weight: bold;
    }


    .accordion {
        font-size: 1.1em;
    }

    #headingOne>button:nth-child(1),
    #headingTwo>button:nth-child(1),
    #headingThree>button:nth-child(1) {
        font-size: 1.35em;
    }



}


.loupe {
    background: url("/images/loupe.svg") no-repeat left;
    background-size: 20px;
}

#caracteristiques,
#ingredients,
#tableau-nutritionnel {
    background-color: rgba(255, 255, 255, 0);
}

.pane {
    margin-bottom: 10px;
    background-color: #6ed1d83d;
    border: solid #6ed1d81c;
    border-radius: 4px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion-button {
    background-color: #eeeeee;
    color: rgb(68, 68, 68, );
    font-family: 'Times New Roman', Times, serif;
    /* cursor: pointer; */
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
    /* transition: 0.4s; */
    border: rgb(0, 0, 0) 1px solid;

}

.accordion-button:not(.collapsed),
#headingOne,
#headingTwo,
#headingThree {
    background-color: rgb(200, 243, 247)
}


.accordion-button:link,
.accordion-button:visited,
.accordion-button:hover,
.accordion-button:active {
    background-color: rgba(200,
            243,
            247);
}



table {
    box-shadow: 0 5px 50px rgba(47, 136, 6, 0.15);

    margin: 0px auto;
    border: 2px solid rgb(3, 83, 34);
    vertical-align: middle;
}

.accordion-item {
    border: none;
}


.cacher {
    display: none;
    width: 100%;

    margin: auto;

    justify-content: center;
}

#montrer {
    width: 100%;
    display: flex;
    margin: auto;

    justify-content: center;
}


.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    color: #1c2aef;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    /* z-index: 99999; */
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog>div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: -moz-linear-gradient(#2ee8aa, #027729);
    background: -webkit-linear-gradient(#2ee8aa, #027729);
    background: -o-linear-gradient(#2ee8aa, #027729);
}

thead tr {
    background-color: rgb(3, 83, 34);

    color: #fff;
    text-align: left;
}

th,
td {
    padding: 15px 20px;
    text-align: center;

}


@media (max-width: 576px) {

    th,
    td {
        padding: 2px 7px;
        text-align: center;

    }

}

/* tbody tr,
td,
th {
    border: 1px solid #ddd;

} */

tbody tr:nth-child(even) {
    background-color: #f3f3f36e;
}


.allergen {
    color: rgb(151, 99, 3);
    font-weight: bold;


}




@media (max-width: 576px) {
    article {
        width: 95%;
        margin: 1px;
        font-size: 1.2em;

    }

    .accordionStyle {
        font-size: 1.1em;

    }

    #imgProduct {
        max-width: 50%;
        display: flex;
        justify-content: center;
        margin: auto;



    }




}



.liste>li {
    display: inline;
    text-align: center;
    width: 163px;
    margin-top: 5px;
    margin-bottom: 5px;
    /* margin-left: 7px;
    margin-right: (7px + 10vw); */
    background-color: rgb(200, 243, 247);
    border-radius: 10px;
    border: 1px solid #046d12;
    padding: 1px 10px 1px 10px;
    cursor: pointer;
}

ul {
    padding-left: 0;
}

@media (max-width: 576px) {

    .modalDialog>div {
        width: 250px;
        position: relative;
        margin: 10% auto;
        padding: 5px 20px 13px 20px;
        border-radius: 10px;
        background: -moz-linear-gradient(#2edbe8, #01a6b2);
        background: -webkit-linear-gradient(#2edbe8, #01a6b2);
        background: -o-linear-gradient(#2edbe8, #01a6b2);
    }

    .liste>li {
        display: block;
        width: 163px;


        background-color: rgb(200, 243, 247);
        border-radius: 10px;
        border: 1px solid #046d12;
        padding: 1px 10px 1px 10px;
        cursor: pointer;
    }

    .liste {
        display: flex;
        text-align: center;
        flex-direction: column;

        margin: auto;


    }
}



.close {
    background: #606061;
    color: #ffffff;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;

    border-radius: 12px;

    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover {
    background: #6ed1d8;
}



.gras {
    font-weight: bold;
}


#masquer {
    display: none;
}
